<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="">
	<title>iApp</title>

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="../static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/fonts/stylesheet.css">
	<link rel="stylesheet" href="../static/css/blog.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<link href="../static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />

	<!-- Custom Fonts -->
	<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- jQuery and Modernizr-->
	<script src="../static/js/jquery-2.1.1.js"></script>
	<script src="../static/js/modernizr.custom.97074.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="sub-page">
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Your Wedding</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav nav-justified ">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="/index">Home</a>
					</li>
					<li class="blogitem active">
						<a class="page-scroll" href="/blog">Blog</a>
						<ul class="dropDown">
							<li id="createindex"><a href="javascript:void(0);">BLOG CREATE</a></li>
						</ul>
					</li>
					<li class="timecapsule">
						<a class="page-scroll" href="/calendar">Time Capsule</a>
						<ul class="dropDown">
							<li id="createMemorial"><a href="javascript:void(0);">memorial creating</a></li>
						</ul>
					</li>
					<li>
						<a class="page-scroll" href="#">Album</a>
					</li>
					<li class="user">
						<a class="page-scroll" href="#">User</a>
						<ul class="dropDown">
							<li id="cancellation"><a href="javascript:void(0);">Cancellation</a></li>
							<li id="logout"><a href="javascript:void(0);">log out</a></li>
							<li id="reset"><a href="javascript:void(0);">reset password</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<header>
		<div class="logo" class="hidden-xs">
			<a href="#">
				<div class="name t-right">Jason <span> Satrovsky </span></div>
				<div class="and">&amp;</div>
				<div class="name t-left"> Sophie <span> Angela</span></div>
			</a>
		</div>
	</header>
	<!-- Header -->

	<!-- Content -->
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div id="main-content" class="col-md-8">
					{% for journal in journals %}
					<article id="article-{{journal.id}}">
						<div class="art-header">
							<a href="#">
								<h2>{{journal.title}}</h2>
							</a>
						</div>
						<div class="art-content">
							<img src="../static/images/10.jpg" />
							<p>{{journal.content|safe|linebreaksbr}}</p>
							<button id="edit-{{journal.id}}" class="btn btn-skin f-right editbtn">edit</button>
							<button id="del-{{journal.id}}" class="btn btn-skin f-right">delete</button>
						</div>
					</article>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="blogcreate">
		<article>
			<button class="cancelbtn">x</button>
			<div class="art-header">
				<h2>请攥写文章标题</h2>
				<input id="article-hd" name="itemtitle" type="text">
			</div>
			<div class="art-content">
				<p>请攥写文章内容</p>
				<textarea name="itemcontent" id="article-bd" cols="30" rows="10"></textarea>
				<button id="createbtn" class="btn btn-skin f-right">create</button>
				<button id="editsubmit" class="btn btn-skin f-right">edit</button>
			</div>
		</article>
	</div>

	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="copyright">Copyright &copy; saimi.<a target="_blank" href="#">hi</a></div>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Core JavaScript Files -->

	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/common.js"></script>

	<!-- Plugin JavaScript -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="../static/js/classie.js"></script>
	<script src="../static/js/cbpAnimatedHeader.js"></script>

	<!-- Img Hover -->
	<script type="text/javascript" src="../static/js/jquery.hoverdir.js"></script>
	<script src="../static/js/blog.js"></script>
	<script type="text/javascript">
		$(function () {
			$(' #da-thumbs > li ').each(function () {
				$(this).hoverdir();
			});
		});
	</script>
</body>

</html>