<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/calendar.css">
    <link rel="stylesheet" href="../static/node_modules/normalize.css/normalize.css">
</head>
<body>
        <div class="warpper">
                <div class="head-box">
                    <div class="header">
                        <h1>Calendar</h1>
                        <a href="">add</a>
                    </div>
                </div>
                <div class="main-box">
                <div class="main-box-content">
                    {% for calendar in calendars %}
                        <div>
                            <p>{{calendar.memoryname}}</p>
                            <p>{{calendar.passedDays}}</p>
                        </div>
                    {% endfor %}
                     <a href="./index">back</a>  
                </div>
                </div>
            </div>
</body>
</html>