<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="">
	<title>iApp</title>

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="../static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/fonts/stylesheet.css">
	<link href="../static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/index.css">

	<!-- Custom Fonts -->
	<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- jQuery and Modernizr-->
	<script src="../static/js/jquery-2.1.1.js"></script>
	<script src="../static/js/modernizr.custom.97074.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="index-page">
	<!-- /////////////////////////////////////////Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">iAPP</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav nav-justified ">
							<li class="hidden">
								<a href="#page-top"></a>
							</li>
							<li class="active">
								<a class="page-scroll" href="/index">Home</a>
							</li>
							<li class="blogitem">
								<a class="page-scroll" href="/blog">Blog</a>
								<ul class="dropDown">
									<li id="createindex"><a href="javascript:void(0);">BLOG CREATE</a></li>
								</ul>
							</li>
							<li class="timecapsule">
								<a class="page-scroll" href="/calendar">Time Capsule</a>
								<ul class="dropDown">
									<li id="createMemorial"><a href="javascript:void(0);">memorial creating</a></li>
								</ul>
							</li>
							<li>
								<a class="page-scroll" href="#">Album</a>
							</li>
							<li class="user">
								<a class="page-scroll" href="#">User</a>
								<ul class="dropDown">
									<li id="cancellation"><a href="javascript:void(0);">Cancellation</a></li>
									<li id="logout"><a href="javascript:void(0);">log out</a></li>
									<li id="reset"><a href="javascript:void(0);">reset password</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<!-- Navigation -->
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<header>
		<!-- Carousel -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="../static/images/1.jpg" alt="First slide">
					<!-- Static Header -->
					<div class="header-text hidden-xs">
						<div class="col-md-12 text-center">
							<div class="logo">
								<a href="#">
									<div class="name t-right">Jason <span> Satrovsky </span></div>
									<div class="and">&amp;</div>
									<div class="name t-left"> Sophie <span> Angela</span></div>
								</a>
							</div>
						</div>
					</div><!-- /header-text -->
				</div>
				<div class="item">
					<img src="../static/images/2.jpg" alt="Second slide">
					<!-- Static Header -->
					<div class="header-text hidden-xs">
						<div class="col-md-12 text-center">
							<div class="logo">
								<a href="#">
									<div class="name t-right">Jason <span> Satrovsky </span></div>
									<div class="and">&amp;</div>
									<div class="name t-left"> Sophie <span> Angela</span></div>
								</a>
							</div>
						</div>
					</div><!-- /header-text -->
				</div>
				<div class="item">
					<img src="../static/images/3.jpg" alt="Third slide">
					<!-- Static Header -->
					<div class="header-text hidden-xs">
						<div class="col-md-12 text-center">
							<div class="logo">
								<a href="#">
									<div class="name t-right">Jason <span> Satrovsky </span></div>
									<div class="and">&amp;</div>
									<div class="name t-left"> Sophie <span> Angela</span></div>
								</a>
							</div>
						</div>
					</div><!-- /header-text -->
				</div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- /carousel -->
	</header>
	<!-- /Section: intro -->

	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 ">
						<div class="box-item">
							<a href="#"><img src="../static/images/bride.jpg" title="icon-name" class="img-circle"></a>
							<h3>Jason Story</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
							<a class="btn btn-sm" href="#">Read More</a>
						</div>
					</div>
					<div class="col-sm-6 ">
						<div class="box-item">
							<a href="#"><img src="../static/images/groom.jpg" title="icon-name" class="img-circle"></a>
							<h3>Sophie Story</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
							<a class="btn btn-sm" href="#">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Content Box 02 -->
		<section class="box-content box-2 box-style-1">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">
						<h2>To Love Anniversary Left</h2>
					</div>
				</div>
				<div class="row">
					<div class="box-item">
						<div class="centered text-center" id="myCounter"></div>
					</div>
				</div>
			</div>
		</section>

		<!-- Content Box 03 -->
		<section class="box-content box-3">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">
						<h2>PHOTO GALLERY</h2>
					</div>
				</div>
				<div class="row box-item">
					<ul id="da-thumbs" class="da-thumbs">
						<li>
							<a href="#">
								<img src="../static/images/4.jpg" />
								<div><span>Lorem ipsum dolor sit amet</span></div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../static/images/5.jpg" />
								<div><span>Consectetur adipisicing elit</span></div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../static/images/6.jpg" />
								<div><span>Tempor incididunt ut</span></div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../static/images/7.jpg" />
								<div><span>Sed do eiusmod tempor</span></div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../static/images/8.jpg" />
								<div><span>Labore et dolore magna aliqua</span></div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../static/images/9.jpg" />
								<div><span>Eiusmod tempor incididunt ut</span></div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<!-- Content Box 04 -->
		<section class="box-content box-4 box-style-2">
			<div class="container">
				<div class="row">
					<div class="box-item">
						<blockquote>
							<p>Love is like a butterfly. It goes where it pleases and it pleases where it goes.</p>
						</blockquote>
					</div>
				</div>
			</div>
		</section>

		<!-- Content Box 06 -->
		<!--
		<section class="box-content box-6">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">	
	                    <h2>OUR STORIES</h2>
	                </div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="../static/images/12.jpg" class="img-responsive"/>
							<div class="content">
								<h3>Planning Our Honeymoon</h3>
								<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis, viverra feugiat ipsum volutpat vitae. Fusce justo turpis, sodales sed placerat non, suscipit at diam.</p>
								<span>MAY 21, 2014 BY VAFPRESS</span>
							</div>
						</div>
						<div class="box-item">
							<img src="../static/images/13.jpg" class="img-responsive"/>
							<div class="content">
								<h3>Brainstorming Wedding Ideas</h3>
								<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis, viverra feugiat ipsum volutpat vitae. Fusce justo turpis, sodales sed placerat non, suscipit at diam.</p>
								<span>MAY 21, 2014 BY VAFPRESS</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="../static/images/10.jpg" class="img-responsive"/>
							<div class="content">
								<h3>She Said Yes!</h3>
								<p>Nunc eu velit metus. Donec in massa libero. Donec bibendum orci a lorem scelerisque luctus. Aliquam et ante quis erat semper pretium. Pellentesque vitae aliquam ipsum. Cras tempor sit amet odio sit amet porttitor. Integer consectetur bibendum tempus. Fusce egestas sed mi a vehicula.</p>
								<span>MAY 21, 2014 BY VAFPRESS</span>
							</div>
						</div>
						<div class="box-item">
							<img src="../static/images/11.jpg" class="img-responsive"/>
							<div class="content">
								<h3>Met Dovey’s Parents in Chicago</h3>
								<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed varius fringilla tortor at euismod. Cras volutpat vehicula libero, nec faucibus urna bibendum id. Duis a commodo lectus. Morbi id purus nec purus feugiat vestibulum. Suspendisse sapien ante, bibendum ac quam quis, imperdiet bibendum sem. Curabitur nibh magna, tristique et convallis…</p>
								<span>MAY 21, 2014 BY VAFPRESS</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="../static/images/14.jpg" class="img-responsive"/>
							<div class="content">
								<h3>Choosing The Bridesmaids and Groomsmen</h3>
								<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis, viverra feugiat ipsum volutpat vitae. Fusce justo turpis, sodales sed placerat non, suscipit at diam.</p>
								<span>MAY 21, 2014 BY VAFPRESS</span>
							</div>
						</div>
						<div class="box-item">
							<img src="../static/images/15.jpg" class="img-responsive"/>
							<div class="content">
								<h3>A Sweet Escape to Paris</h3>
								<p>Proin lobortis mattis odio non ornare. Sed tempor nisi eu hendrerit luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras et velit id sem tincidunt convallis ac eget quam. Vestibulum posuere porttitor sapien et fringilla. Donec laoreet ultricies sagittis. Suspendisse potenti.</p>
								<span>MAY 21, 2014 BY VAFPRESS</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
	</div>

	<div class="usersetting">
		<label for="oldpassword">original password :</label>
		<input type="password" name="oldpassword"><br>
		<label for="newpassword">new password :</label>
		<input type="password" name="newpassword"><br>
		<label for="pswconfirm">confirm password :</label>
		<input type="password" name="pswconfirm"><br>
		<button id="userSubmit">submit</button>
		<button class="cancelBtn">X</button>
	</div>

	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="copyright">Copyright &copy; saimi</div>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Core JavaScript Files -->
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/common.js"></script>
	<!-- Plugin JavaScript -->

	<script src="../static/js/classie.js"></script>
	<script src="../static/js/cbpAnimatedHeader.js"></script>

	<!-- Countdown -->
	<script src="../static/js/jquery.mb-comingsoon.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#myCounter').mbComingsoon({
				expiryDate: new Date(2020, 9, 29, 9, 30),
				speed: 100
			});
			setTimeout(function () {
				$(window).resize();
			}, 200);
		});
	</script>

	<!-- Img Hover -->
	<script type="text/javascript" src="../static/js/jquery.hoverdir.js"></script>
	<script type="text/javascript">
		$(function () {
			$(' #da-thumbs > li ').each(function () {
				$(this).hoverdir();
			});
		});
	</script>
</body>

</html>