<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/node_modules/normalize.css/normalize.css">
</head>
<body>
    <div class="warpper">
        <div class="head-box">
            <div class="header">
                <h1>Welcome</h1>
            </div>
        </div>
        <div class="main-box">
            <div class="main-box-content">
                <ul class="item-list">
                    <li>
                        <a href="./journal">
                            <img src="../static/images/book.jpg" alt="">
                            <span>Journal</span>
                        </a>
                    </li>
                    <li>
                        <a href="./calendar">
                            <img src="../static/images/book.jpg" alt="">
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../static/images/book.jpg" alt="">
                            <span>Love tree</span>
                        </a>
                    </li>
                    <li>
                        <a href="./reset">
                            <img src="../static/images/book.jpg" alt="">
                            <span>Account management</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>