<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/node_modules/normalize.css/normalize.css">
</head>
<body>
    <div class="warpper">
        <div class="head-box">
            <div class="header">
                <h1>Welcome</h1>
            </div>
        </div>
        <div class="main-box">
            <div class="main-box-content">
                <div class="login-box">
                    <div class="login-head">
                        <p>login</p>
                    </div>
                    <div class="login-form">
                        <form action="">
                            <span>账号：</span><input type="text" class="info-box">
                            <span>密码：</span><input type="password" class="info-box">
                            <a href="./index" class="login-btn">登录</a>
                        </form>
                    </div>
                    <a href="./signup">注册账号</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>