<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/node_modules/normalize.css/normalize.css">
</head>
<body>
    <div class="warpper">
        <div class="head-box">
            <div class="header">
                <h1>Change Password</h1>
            </div>
        </div>
        <div class="main-box">
            <div class="main-box-content">
                <div class="reset-form">
                    <form action="">
                        <div class="reser-hd">
                            change password
                        </div>
                        <br>
                        <span>original：</span><input type="password" class="info-box"><br><br><br>
                        <span>new：</span><input type="password" class="info-box"><br><br><br>
                        <span>confirm:</span><input type="password" class="info-box"><br><br>                    
                        <button class="reset-btn">submit</button>
                        
                        <a href="./index">back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>