<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/signup.css">
    <link rel="stylesheet" href="../static/node_modules/normalize.css/normalize.css">
</head>
<body>
    <div class="warpper">
        <div class="head-box">
            <div class="header">
                <h1>Welcome</h1>
            </div>
        </div>
        <div class="main-box">
            <div class="main-box-content">
                <div class="signup-box">
                    <div class="signup-head">
                        <p>signup</p>
                    </div>
                    <div class="signup-form">
                        
                        <form action="">
                            <span>注册名：</span><input type="text" class="info-box">   
                            <span>注册密码：</span><input type="password" class="info-box">
                            <span>密码确认：</span><input type="password" class="info-box">
                            <p class="gender-choice">
                                <span>性别：</span>
                                <input id="man" type="radio" checked="checked" name="1" />男
                                <input id="woman" type="radio"  name="1"/>女
                            </p>
                            
                            <button class="signup-btn">注册</button>
                            <br>
                            <a href="./login">Alraedy have an account?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>