<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
	
    <title>Your Wedding</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/fonts/stylesheet.css">
	<link href="../static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/timecapsule.css">
	
	<!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="../static/js/jquery-2.1.1.js"></script>
	<script src="../static/js/modernizr.custom.97074.js"></script>
	<script src="../static/js/laydate/laydate.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="../static/js/timecapsule.js"></script>

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->
	<style>
		
	</style>
</head>

<body class="sub-page">
	
	<!-- /////////////////////////////////////////Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top">Your Wedding</a>
				</div>
	
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav nav-justified ">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="active">
							<a class="page-scroll" href="/index">Home</a>
						</li>
						<li class="blogitem">
							<a class="page-scroll" href="/blog">Blog</a>
							<ul class="dropDown">
								<li id="createindex"><a href="javascript:void(0);">BLOG CREATE</a></li>
								<li><a href="javascript:void(0);">2</a></li>
								<li><a href="javascript:void(0);">3</a></li>
							</ul>
						</li>
						<li class="timecapsule">
							<a class="page-scroll" href="/calendar">Time Capsule</a>
							<ul class="dropDown">
								<li id="createMemorial"><a href="javascript:void(0);">memorial day creating</a></li>
								<li><a href="javascript:void(0);">2</a></li>
								<li><a href="javascript:void(0);">3</a></li>
							</ul>
						</li>
						<li>
							<a class="page-scroll" href="#">Tree</a>
						</li>
						<li>
							<a class="page-scroll" href="#">Album</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	<!-- Navigation -->
	
	<header class="time-hd">
		<div class="logo" class="hidden-xs">
			<a href="#">
				<div class="name t-right">Jason <span> Satrovsky  </span></div><div class="and">&amp;</div><div class="name t-left"> Sophie <span> Angela</span></div>
			</a>
		</div>
	</header>
	<!-- Header -->
	
	<!-- /////////////////////////////////////////Content -->

	<div class="memorialcreate">
		<div class="memorial-container">
			<div class="memorial span6">
				<div class="memoryform">
					<button id="cancelbtn">X</button>
					<h2>CREATE <span class="red"><strong>Memory</strong></span></h2>
					<label for="itemname">memory name</label>
					<input type="text" name="itemname" placeholder="Please fill in the memory name...">
					<label for="itemcontent">memory content</label>
					<textarea name="itemcontent" cols="30" rows="10" placeholder="Please fill in the memory content..."></textarea>
					<label for="itemdate">memory date</label>
					<input id="date" name="itemdate" placeholder="Please choose the memory date...">	
					<button id="memorial-btn">Submit</button>	
				</div>
			</div>
		</div>
			
	</div>


	<div id="page-content">
		<div class="container">
			<div class="row">
				<section class="box-content box-2 box-style-1">
					<div class="container">
						<div class="row heading">
							 <div class="col-lg-12">	
								<h2>To Love Anniversary Left</h2>
							</div>
						</div>
						<div class="row">
							<div class="box-item">
									<div class="centered text-center" id="myCounter"></div>
							</div>
						</div>
					</div>
				</section>
				
				
			</div>
		</div>
	</div>

	{% for calendar in calendars %}
	<div class="calendar-show" id= "mycalendar-{{calendar.id}}">
		<div class="calendar-header">
			<h2><span>{{calendar.memoryname}}</span><span>{{calendar.memorydate}}</span></h2>
		</div>
		<div class="calendar-content">
				<p>{{calendar.memorycontent}}</p>
				<span>from {{calendar.memoryname}} has passed</span><span> {{calendar.passedDays}} </span>days
				<button class="editbtn" id="btn-{{calendar.id}}">EDIT</button>
		</div>
	</div>
	<hr>
    {% endfor %}

	
	
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="copyright">Copyright &copy;saimi.</div>
					</div>
					
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

    <!-- Core JavaScript Files -->
   	 
    <script src="js/bootstrap.min.js"></script>
	

	<!-- Plugin JavaScript -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="../static/js/classie.js"></script>
	<script src="../static/js/cbpAnimatedHeader.js"></script>
	
	<!-- Countdown -->
    <script src="../static/js/jquery.mb-comingsoon.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myCounter').mbComingsoon({ expiryDate: new Date(2020, 9, 29, 0, 0), speed:100 });
            setTimeout(function () {
                $(window).resize();
            }, 200);
        });
    </script>
	
	<!-- Img Hover -->
	<script type="text/javascript" src="../static/js/jquery.hoverdir.js"></script>	
	<script type="text/javascript">
		$(function() {
		
			$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

		});
		laydate.render({
  		elem: '#date' //指定元素
		});
	</script>
	
</body>

</html>
