.warpper {
    
    height: 600px;
}

.head-box {
    height: 80px;
    background-color: #ffe08e;
}

.header {
    margin: 0 15%;
    height: 100%;
    min-width: 600px;
}

.header h1 {
    line-height: 80px;
    display: inline-block;
}

.header a {
    float: right;
    line-height: 80px;
}

.main-box {
    height: 520px;
    background-color: #ffe08e;
}

.main-box-content {
    margin: 0 15%;
    height: 100%;
    background: url("./images/main.jpg") no-repeat 75%;
    position: relative;
}