.warpper {
    
    height: 600px;
}

.head-box {
    height: 80px;
    background-color: #ffe08e;
}

.header {
    margin: 0 15%;
    height: 100%;
    background-color: #ffe08e;
    min-width: 600px;
}

.header h1 {
    padding: 22px 0;

}

.main-box {
    height: 520px;
    background-color: #ffe08e;
}

.main-box-content {
    margin: 0 15%;
    height: 100%;
    background: url("./images/main.jpg") no-repeat 75%;
    position: relative;
}

.login-box {
    width: 360px;
    height: 400px;
    background-color: pink;
    position: absolute;
    left: 60px;
    top: 60px;
    box-sizing: border-box;
}

.login-head {
    height: 60px;
    background-color: purple;
    text-align: center;
}

.login-head p {
    height: 100%;
    font-size: 20px;
    padding: 20px 0;
    margin: 0;
}

.info-box {
    width: 300px;
    height: 28px;
    margin-top: 20px;
}

.login-btn {
    width: 180px;
    height: 28px;
    background-color: red;
    margin-top: 60px;
    margin-left: 80px;
    display: block;
    text-align: center;
}

