.art-content button {
    margin: 0 10px;
}

.blogcreate {
    width: 50%;
    height: 50%;
    position: fixed;
    left: 25%;
    top: 25%; 
    border-radius: 10px;
    display: none;
    
}

.blogcreate button {
   float: right;
   margin-right: 10px;
   background-color: #DE5781;
   border: none;
   color: #fff;
}

.blogcreate article {
    background: rgba(100, 100, 100, 0.95);
    margin: 0;
    height: 100%;
    
}

.blogcreate h2 {
    color: #fff;
}

.blogcreate .art-header input {
    width: 100%;
    font-size: 28px;
}

.blogcreate .art-content p {
    margin: 0;
}

.blogcreate .art-content textarea {
    width: 100%;
    font-size: 16px;
    resize: none;
    height: 100%;
}